@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500&display=swap');

* {font-family: 'Merriweather', serif;}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}
/* hiding the logo of streamlit */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}